@import "tailwindcss";

@theme {
  /* Colors */
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-surface-hover: #27272a;

  --color-border: #27272a;

  --color-foreground: #fafafa;
  --color-muted: #a1a1aa;

  --color-primary: #8b5cf6;
  --color-primary-hover: #7c3aed;

  /* Font */
  --font-sans: "Inter", sans-serif;
}

/* Base */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  ::selection {
    @apply bg-primary/30;
  }
}