@import "tailwindcss";

@theme {
  --color-background: #070a0f; 
  --color-surface: #111827; 
  --color-surface-hover: #1e293b; 
  --color-border: #1e293b; 
  --color-foreground: #f8fafc; 
  --color-muted: #94a3b8; 
  --color-primary: #3b82f6; 
  --color-primary-hover: #2563eb; 
  /* Accent */
  
  --color-accent: #38bdf8;

  /* Font */
  --font-sans: "Inter", sans-serif;
}

/* Base */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  ::selection {
    @apply bg-primary/30;
  }
}